[submodule "H:/Users/ej/git/ExtraLaunchOptions/libraries/MoreVids/libraries/Deck"]
	path = H:/Users/ej/git/ExtraLaunchOptions/libraries/MoreVids/libraries/Deck
	url = https://github.com/EntranceJew/Deck.git
